<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
     <style>
        .tx{
            text-align: center;
        }
    </style> 


<div class="jumbotron tx">
    <h1 class="display-4">LOGGED OUT</h1>
    
    <hr class="my-4">
    <p>you have been successfully logged out!!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'signin' %}" role="button">SIGN IN AGAIN</a>
  </div>